@mixin transitions($speed: 0.5s) {
  -webkit-transition: all $speed ease-in-out;
  -moz-transition: all $speed ease-in-out;
  -o-transition: all $speed ease-in-out;
  transition: all $speed ease-in-out;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin scale($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin boxShadow($colour, $length) {
  $value: ();
  @for $i from 1 through $length {
    $px: $i + px;
    $shadow: $px $px $colour;
    $value: append($value, $shadow, comma)

  }
  text-shadow: $value;
}


@mixin rtl {
  html[lang="ar"] & {
    @content;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}


@mixin imgHover() {
  @media (min-width: 1200px) {
    a {
      img {
        @include transitions(0.5s);
      }

      i {
        @include transitions(0.5s);
        @include scale(1);
      }

      &:hover {
        img {
          @include scale(1.05);
        }

        i {
          @include scale(1.05);
        }
      }
    }
  }
}


@mixin iconHover() {
  @media (min-width: 1200px) {
    a {
      @include transitions(0.5s);

      &:hover {
        @include scale(1.05);
      }
    }
  }
}


